button {
   margin: 0 25px;
   background: #0066A2;

   color: white;
   
   border-style: outset;
   
   border-color: #0066A2;
   
   height: auto;
   
   width: auto;
   
   font: bold 15px arial, sans-serif;
   
   text-shadow:none;
}